<div class="max-w-5xl ">
  <div class="bg-primary-100">
    <%= image_tag("movie/rio2.jpg", :alt => "cover", class:" w-full h-64 bg-cover bg-center" ) %>
    <div class="flex ">
      <%= image_tag("movie/rio1.jpg", :alt => "DP", class:"rounded-full bg-contain h-32 w-32 -mt-8 m-4 " ) %>
      <div class="flex flex-col">
        <p class="mx-2 text-primary-700 text-2xl font-bold uppercase md:text-3xl"><%=@movie.movie_name %></p>
        <p class="mx-2 text-primary-700 text-base font-semibold ">Genre : <%= @movie.movie_genre %></p>
      </div>
      <div class="flex flex-col ml-64">

        <% already_watched = @movie.watched_movies.find{|watched| watched.user_id == current_user&.id} %>
        <%if already_watched%>
        <%= button_to   movie_watched_movie_path(@movie,already_watched),class:"btn bg-primary-700 w-full btn-primary", method: :delete  do  %>
        Remove from Watched
        <%end%>
        <%else%>
        <%= button_to   movie_watched_movies_path(@movie), method: :post ,class:"btn w-full bg-primary-700 btn-primary" do  %>
        Watched
        <%end%>
        <%end%>
        <%= link_to "Recommended", root_path, class: "mt-1 btn btn-primary" %>
        <%= link_to "Add to Watch List", root_path, class: "my-1 btn btn-primary" %>
      </div>
    </div>
  </div>
  <div class="flex w-full justify-between">
    <div class="bg-primary-400 mt-4 w-1/3">
      Photos
    </div>
    <div class="ml-4 bg-primary-400 mt-4 w-2/3">
      About
      <p class="mx-2 text-primary-700 text-lg font-bold "><%= @movie.watched_movies.count %> users watched <%=@movie.movie_name %> </p>
    </div>
  </div>

</div>