<div class="max-w-5xl ">
  <div class="bg-primary-100">
    <% if @movie.cover_pic.attached? %>
    <%= image_tag @movie.cover_pic, :alt => "cover", class:" w-full h-64 bg-cover bg-center" %>
    <%else%>
    <%= image_tag("movie/rio2.jpg", :alt => "cover", class:" w-full h-64 bg-cover bg-center" ) %>
    <%end%>
    <div class="flex justify-between">
      <div class="flex ">
        <% if @movie.display_pic.attached? %>
        <%= image_tag @movie.display_pic, :alt => "DP", class:"rounded-full bg-contain h-64 w-64 -mt-8 m-4 " %>
        <%else%>
        <%= image_tag("movie/rio1.jpg", :alt => "DP", class:"rounded-full bg-contain h-64 w-64 -mt-8 m-4 " ) %>
        <%end%>
        <div class="flex flex-col">
          <p class="mx-2 text-primary-700 text-2xl font-bold uppercase md:text-3xl"><%=@movie.movie_name %></p>
          <p class="mx-2 text-primary-800 text-base font-bold "><span class="font-semi-bold text-primary-700">Genre : </span> <%= @movie.movie_genre %></p>
          <p class="mx-2 text-primary-800 text-base font-bold "><span class="font-semi-bold text-primary-700">Director : </span><%= @movie.movie_director %></p>
          <%if @movie.overview?%>
          <div class="mt-2">
            <p class="mx-2 text-primary-700 text-base font-semibold ">Overview</p>

            <p class="mx-1 text-primary-700 bg-primary-50 p-2  italic tracking-wide rounded shadow-sm text-xs font-semibold text-justify ">
              <%= @movie.overview %></p>
          </div>
          <%end%>
        </div>
      </div>

      <div class="flex flex-col justify-center mr-4 p-1">

        <% already_watched = @movie.watched_movies.find{|watched| watched.user_id == current_user&.id} %>
        <%if already_watched%>
        <%= button_to   movie_watched_movie_path(@movie,already_watched),class:"my-1 btn bg-primary-700 w-full btn-primary", method: :delete  do  %>
        Remove from Watched
        <%end%>
        <%else%>
        <%= button_to   movie_watched_movies_path(@movie), method: :post ,class:"my-1 btn w-full bg-primary-700 btn-primary" do  %>
        Watched
        <%end%>
        <%end%>

        <% already_in_recommended = @movie.recommended_movies.find{|recommended| recommended.user_id == current_user&.id} %>
        <%if already_in_recommended%>
        <%= button_to   movie_recommended_movie_path(@movie,already_in_recommended),class:"my-1 btn bg-primary-700 w-full btn-primary", method: :delete  do  %>
        Remove from Recommended
        <%end%>
        <%else%>
        <%= button_to   movie_recommended_movies_path(@movie), method: :post ,class:"my-1 btn w-full bg-primary-700 btn-primary" do  %>
        Recommended
        <%end%>
        <%end%>

        <% already_in_wish = @movie.wish_lists.find{|movie| movie.user_id == current_user&.id} %>
        <%if already_in_wish%>
        <%= button_to   movie_wish_list_path(@movie,already_in_wish),class:"btn my-1 bg-primary-700 w-full btn-primary", method: :delete  do  %>
        Remove from Watch List
        <%end%>
        <%else%>
        <%= button_to   movie_wish_lists_path(@movie), method: :post ,class:"btn my-1 w-full bg-primary-700 btn-primary" do  %>
        Add to Watch List
        <%end%>
        <%end%>

      </div>
    </div>
  </div>
  <div class="flex w-full justify-between">
    <div class="bg-primary-100 mt-4 w-1/3">
      Photos
      <p class="mx-2 text-primary-700 text-lg font-bold "><%= @movie.watched_movies.count %><%= @movie.watched_movies.count <= 1 ? " user" : "  users" %> watched <%=@movie.movie_name %> </p>
      <p class="mx-2 text-primary-700 text-lg font-bold "><%= @movie.wish_lists.count %> <%= @movie.wish_lists.count <= 1 ? "user" : "users" %> added <%=@movie.movie_name %> to watch list </p>
      <p class="mx-2 text-primary-700 text-lg font-bold ">Dummy</p>
      <p class="mx-2 text-primary-700 text-lg font-bold ">Dummy </p>

    </div>
    <div class="ml-4 bg-primary-100 mt-4 w-2/3">
      <p class="text-primary-700 p-2 text-lg font-bold text-justify">Reviews</p>

      <%if !@movie.reviews.exists?%>
      <p class="mx-4 text-primary-700 p-1 italic tracking-wide text-sm font-semibold text-justify ">
        No Reviews so far! Post the first review below!</p>


      <%end%>
      <%@movie.reviews.each do |review|%>

      <div class="flex">
        <% if review.user.avatar.attached? %>
        <%= image_tag review.user.avatar, :alt => "dp", class:"rounded-full  h-8 w-8 my-1 ml-2" %>
        <%else%>
        <%= image_tag("movie/rio1.jpg", :alt => "DP", class:"rounded-full  h-8 w-8 my-1 ml-2  " ) %>
        <%end%>
        <div class="flex flex-col w-full">
          <div class="flex justify-between">
            <p class="text-primary-700 p-2 text-base font-semibold text-justify"><span class=" font-normal text-primary-700">Review By</span> <%= review.user.name %></p>
            <%if review.user_id == current_user&.id%>
            <%= button_to movie_review_path(@movie,review), method: :delete, data: { confirm: 'Are you sure?' }  do %>
            <i class="fas fa-trash-alt text-primary-800 hover:text-primary-600 m-2 mx-4"></i>
            <%end%>
            <%end%>

          </div>

          <p class="mx-1 text-primary-700 p-1 pr-4   italic tracking-wide text-sm font-semibold text-justify ">
            "<%= review.review %>"</p>
        </div>

      </div>

      <%end%>
    </div>
  </div>
</div>
<div class="max-w-xl w-full float-right bg-primary-200 mt-2 shadow rounded">
  <div class="flex w-full flex-col p-4 md:p-6">
    <%= form_for Review.new , url: movie_reviews_path(@movie) do |f| %>
    <%= f.text_area :review , placeholder: "Comment out your review on the moviw", class:"appearance-none block w-full bg-white text-primary-900 font-normal border border-primary-400 rounded py-3 px-4 mb-2 leading-tight focus:outline-none focus:bg-white focus:border-primary-500"%>
    <div class="md:flex justify-between items-center">

      <div class="w-1/3 mt-2 md:mt-0">
        <%= f.submit "Add Review", class:"w-full btn btn-large btn-primary mt-2 md:mt-0"%>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>